body {
  margin: 0;
  font-family: inter, sans-serif;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 10px;
  top: 0;
}

.green-h1 {
  color: #36b37e;
}

.main-section {
  background-image: url("images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -15px;
}

.introduction {
  text-align: center;
  padding-top: 20%;
  font-size: 200%;
  line-height: 45px;
  color: #172b4d;
  margin-bottom: 10px;
}

.first-paragraph {
  text-align: center;
  margin: auto;
  font-size: 150%;
  font-weight: 500;
  color: #172b4d;
  padding: 0 8%;
}

.social-media {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 13px;
  align-items: center;
  padding: 0;
  padding-top: 10px;
  margin-top: 0;
  animation-name: allbuttons;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

.down-button {
  justify-content: center;
  display: flex;
  margin-top: 20%;
  padding-bottom: 10px;
}

.domain {
  text-align: center;
  color: #172b4d;
}

.little-line {
  content: '';
  width: 50px;
  height: 5px;
  margin: 20px auto 50px;
  background: #36b37e;
  border-radius: 21px;
  display: flex;
  justify-content: center;
}

.empty-box {
  height: 45%;
  width: 100%;
  background: #ebf0ee;
  border-radius: 8px 8px 0 0;
}

.right-design {
  display: flex;
  justify-content: flex-end;
  margin-top: -100px;
}

.myself {
  display: flex;
  font-weight: 700;
  font-size: 25px;
  color: #172b4d;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 490px;
  overflow: hidden;
  background-color: #ebf0ee;
  margin: 8px;
}

.multi-post-stories {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 55%;
  gap: 20px;
  padding: 0 0.5em;
  border-radius: 14px;
  background-color: #fff;
}

h3 {
  color: #344563;
  display: flex;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
}

.multi-post-stories h3 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}

.programing-languages {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  width: 100%;
}

.programing-languages ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.my-languages li {
  background: #fff;
  padding: 12px;
  font-size: 12px;
  border-radius: 6px;
}

.programing-languages ul li {
  font-weight: 600;
  border-radius: 4px;
  background-color: #ebf0ee;
  padding: 6px;
  color: #3a4a42;
  font-size: 13px;
  line-height: 16px;
  justify-content: space-between;
}

.green-button {
  float: right;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #36b37f;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  margin-top: 16px;
  margin-bottom: 16px;
  text-decoration: none;
}

h2 {
  text-align: center;
  margin-bottom: 4px;
}

.card-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 4% 0;
}

.paragraph {
  text-align: center;
  margin: 0 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.get-my-resume {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #36b37f;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  margin: auto;
}

.language-img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 60%;
}

.language-img img {
  display: flex;
  justify-content: center;
  font-size: 12px;
  width: 30%;
  height: 30%;
  padding: 1rem;
  border-radius: 50%;
  background-color: white;
}

.l-design {
  margin-top: -50px;
}

.about-container {
  margin-bottom: 40px;
}

.square-card {
  background-color: #ebf0ee;
  margin: 30px;
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  place-items: center;
  gap: 20px;
}

.my-languages {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  color: #36b37e;
  margin-bottom: 45px;
  padding-left: 0 !important;
  width: 100%;
}

main {
  padding-bottom: 1rem;
}

.comment {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  margin-top: 50px;
  margin-bottom: 50px;
}

.data {
  width: 90%;
  margin: 25px auto;
  margin-bottom: 2%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-name,
.input-email,
.input-msg {
  padding: 9px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 100%;
}

.input-email {
  outline: none;
}

.input-full-name {
  padding: 9px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  font-style: italic;
}

.input-msg {
  border-color: #60c095;
}

.input-msg::placeholder {
  color: #172b4d;
  font-weight: 400;
  font-size: 15px;
  font-family: Inter, sans-serif;
}

.input-name::placeholder {
  font-style: italic;
}

.input-email::placeholder {
  font-style: italic;
}

.interaction-button {
  outline: none;
  border: none;
  background: #36b37f;
  color: #fff;
  border-radius: 4px;
  width: 122px;
  height: 48px;
  font-size: medium;
  margin-bottom: 36px;
  transition-property: all;
}

.interaction-button:hover {
  background-color: #36b37f;
}

.interaction-button:active {
  background: #008552;
  border-radius: 4px;
  width: 122px;
  color: #fff;
  text-align: center;
}

@keyframes allbuttons {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.get-in-touch-button {
  text-align: center;
  background: #36b37f;
  border-radius: 4px;
  width: 122px;
  height: 48px;
  display: flex;
  gap: 10px;
  justify-content: center;
  color: #36b37e;
  margin: 25px auto;
  animation-name: allbuttons;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

.email-account {
  text-align: center;
  color: #42526e;
}

#error {
  color: red;
}

.line {
  content: '';
  width: 120px;
  height: 5px;
  margin: 24px auto 10px;
  background: #0d151e;
  border-radius: 24px;
  display: flex;
  justify-content: center;
}

.design {
  display: flex;
  justify-content: flex-end;
  margin-top: -100px;
}

.socials {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 13px;
  align-items: center;
  padding: 0;
  padding-top: 10px;
  animation-name: allbuttons;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

.top-nav {
  display: none;
}

.picture {
  display: none;
}

.right-design-desktop {
  display: none;
}

.left-design-desktop {
  display: none;
}

.all-card-holders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

/* menu styling */

.popup-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  top: 0;
  display: flex;
  flex-direction: column;
}

.hide-popup {
  display: none;
}

.popup-nav {
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.close {
  padding-top: 20px;
  text-align: right;
  padding-right: 40px;
}

.tag {
  color: #606c5d;
  text-decoration: none;
}

/* popup */

.closeButton {
  display: none;
}

.popup-card-holder {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #c1c7d090;
  align-items: center;
  justify-content: center;
}

.popup-card {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 90%;
  width: 80%;
  overflow: scroll;
  background-color: white;
  margin: 8px;
  padding: 0 10px;
}

.popup-img-box {
  width: 100%;
  min-height: 150px;
  height: fit-content;
  background: #ebf0ee;
  border-radius: 8px 8px 0 0;
}

.popup-programing-languages {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  width: 100%;
}

.popup-programing-languages ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.popup-programing-languages ul li {
  font-weight: 600;
  border-radius: 4px;
  background-color: #ebf0ee;
  padding: 6px;
  color: #3a4a42;
  font-size: 13px;
  line-height: 16px;
  justify-content: space-between;
}

.popup-img-box > img {
  width: 100%;
}

.popup-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 20px;
  padding: 0 0.5em;
  border-radius: 14px;
  background-color: #fff;
}

.popup-body h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #3a4a42;
  text-align: left;
}

.popup-links-mobile {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.popup-links-desktop {
  display: none;
}

.popup-head {
  display: flex;
  justify-content: space-between;
}

.popup-close {
  position: absolute;
  text-align: right;
  padding-right: 40px;
  cursor: pointer;
  right: 0;
  color: white;
  font-size: 30px;
}

@media (width >= 768px) {
  .desktop-introduction .desktop-green-h1 {
    display: none;
  }

  .popup-close {
    display: none;
  }

  .popup-menu {
    display: none !important;
  }

  .closeButton {
    display: block;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: none;
    background: transparent;
    padding: 10px;
  }

  .color {
    transition: all 0s ease-out;
  }

  .color:hover {
    color: #008552;
    cursor: pointer;
    border-bottom: 3px solid #008552;
  }

  header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-section {
    background-image: url("desktop-images/main.svg");
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    padding: 200px 0;
    justify-content: center;
  }

  .social-media {
    margin: 20px 0 100px;
  }

  .top-nav {
    display: flex;
    list-style: none;
    gap: 10px;
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
    justify-content: center;
    color: #172b4d;
  }

  nav {
    margin-top: 0;
  }

  .my-recent-works {
    display: flex;
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .break {
    display: none;
  }

  .d-first-paragraph {
    line-height: 50px;
  }

  .down-button {
    margin-top: 0;
    margin-bottom: 100px;
  }

  nav .hamburgers {
    display: none;
  }

  .introduction {
    padding-top: 0;
  }

  .commence {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
  }

  .first-paragraph {
    line-height: 32px;
    width: 700px;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .little-line,
  .input-full-name {
    display: none;
  }

  .all-square-cards {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: auto;
  }

  .domain {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-languages {
    margin-bottom: 0;
  }

  .fill-in-name {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
  }

  .input-name {
    width: 40%;
  }

  .data {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    justify-content: space-evenly;
    box-sizing: border-box;
  }

  .right-design-desktop {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -390px;
  }

  .me-section {
    padding: auto 20px;
    justify-content: center;
  }

  .left-design-desktop {
    display: flex;
    justify-content: flex-start;
  }

  .paragraph {
    margin: 0 10rem;
  }

  .square-card {
    width: 30%;
  }

  .last-square-card {
    background-color: #ebf0ee;
    margin: 30px;
    padding: 16px 32px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
    place-items: center;
    gap: 1px;
  }

  .comment {
    font-weight: 700;
    font-size: 30px;
    display: flex;
    margin-right: 1rem;
    line-height: 52px;
    height: 256px;
    margin-top: 1rem;
    width: 45%;
  }

  .input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    max-width: 500px;
  }

  .get-in-touch-button {
    text-align: center;
    background: #36b37f;
    border-radius: 4px;
    width: 122px;
    height: 48px;
    display: flex;
    gap: 10px;
    justify-content: center;
    color: #36b37e;
    margin: 0;
  }

  .interaction-button:hover {
    background-color: #36b37f;
  }

  .interaction-button:active {
    background: #008552;
    border-radius: 4px;
  }

  .bottom-right-design {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: -1;
    width: 150px;
  }

  .left-design-design {
    position: absolute;
    top: 112px;
    z-index: -1;
    width: 9%;
  }

  .bottom-center-design {
    position: absolute;
    top: 260px;
    left: 200px;
    z-index: -1;
  }

  .decor {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socials {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .design {
    display: none;
  }

  .r-sign {
    display: none;
  }

  .l-design {
    display: none;
  }

  .email-account {
    display: none;
  }

  .s-media {
    display: none;
  }

  .popup-links-desktop {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .popup-links-mobile {
    display: none;
  }
}

@media (width >= 1366px) {
  .all-card-holders {
    grid-template-columns: repeat(3, 1fr);
  }
}
